# Câu 1:

In [10]:
import sqlite3
import math

conn = sqlite3.connect(":memory:")

# Đăng ký hàm
conn.create_function("SQRT", 1, math.sqrt)
conn.create_function("POWER", 2, math.pow)

In [11]:
import sqlite3
import pandas as pd
import math

# Kết nối và tạo hàm
conn = sqlite3.connect(":memory:")
conn.create_function("SQRT", 1, math.sqrt)
conn.create_function("POWER", 2, math.pow)

# Tạo bảng mẫu
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [2, 4, 6, 8]})
df.to_sql('your_table', conn, index=False, if_exists='replace')

# Câu SQL
query = """
SELECT
    (COUNT(*) * SUM(A * B) - SUM(A) * SUM(B)) /
    (SQRT(COUNT(*) * SUM(A * A) - POWER(SUM(A), 2)) *
     SQRT(COUNT(*) * SUM(B * B) - POWER(SUM(B), 2))) AS r_AB
FROM your_table;
"""

# Chạy truy vấn
result = pd.read_sql_query(query, conn)
print(result)

   r_AB
0   1.0

# Câu 2:

In [12]:
import pandas as pd
from scipy.stats import chi2_contingency

# Tạo dữ liệu dạng rộng
data = {
    'Day': ['Day 1', 'Day 2', 'Day 3', 'Day 4'],
    'A': [8, 7.5, 6, 7],
    'B': [9, 8.5, 7, 6],
    'C': [7, 7, 8, 5]
}
df = pd.DataFrame(data)

# Chuyển sang dạng long format
df_long = df.melt(id_vars='Day', var_name='Model', value_name='Score')

# Phân loại điểm thành Low / Medium / High
def categorize(score):
    if score <= 6:
        return 'Low'
    elif score < 8:
        return 'Medium'
    else:
        return 'High'

df_long['Category'] = df_long['Score'].apply(categorize)

# Kiểm định Chi-Square theo Model
table_model = pd.crosstab(df_long['Model'], df_long['Category'])
chi2_model, p_model, _, _ = chi2_contingency(table_model)

# Kiểm định Chi-Square theo Day
table_day = pd.crosstab(df_long['Day'], df_long['Category'])
chi2_day, p_day, _, _ = chi2_contingency(table_day)

# In kết quả
print("Bảng chéo theo Model:\n", table_model)
print(f"Chi2 theo Model = {chi2_model:.4f}, p = {p_model:.4f}\n")

print("Bảng chéo theo Day:\n", table_day)
print(f"Chi2 theo Day = {chi2_day:.4f}, p = {p_day:.4f}")

Bảng chéo theo Model:
 Category  High  Low  Medium
Model
A            1    1       2
B            2    1       1
C            1    1       2
Chi2 theo Model = 0.9000, p = 0.9246

Bảng chéo theo Day:
 Category  High  Low  Medium
Day
Day 1        2    0       1
Day 2        1    0       2
Day 3        1    1       1
Day 4        0    2       1
Chi2 theo Day = 6.2667, p = 0.3940

# Câu 3:

In [14]:
import sqlite3
import random

# Kết nối đến SQLite
conn = sqlite3.connect("flights.db")
cursor = conn.cursor()

# Tạo bảng chỉ chứa departure_time_int
cursor.execute("""
CREATE TABLE IF NOT EXISTS flights (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    departure_time_int INTEGER
)
""")

# Xoá dữ liệu cũ
cursor.execute("DELETE FROM flights")

# Hàm tạo thời gian ngẫu nhiên
def generate_time():
    hour = random.randint(0, 23)
    minute = random.randint(0, 59)
    return hour * 100 + minute

# Sinh và chèn dữ liệu mới
departure_times = [(generate_time(),) for _ in range(100)]
cursor.executemany("INSERT INTO flights (departure_time_int) VALUES (?)", departure_times)
conn.commit()

# Truy vấn SQL: chuyển int → thời gian chuỗi 'HH:MM'
cursor.execute("""
SELECT 
    id,
    departure_time_int,
    printf('%02d:%02d', departure_time_int / 100, departure_time_int % 100) AS formatted_time
FROM flights
LIMIT 50
""")
rows = cursor.fetchall()

# In kết quả
print("ID | Departure Time (Int) | Departure Time (Formatted)")
print("-" * 50)
for row in rows:
    print(f"{row[0]:<3} | {row[1]:<20} | {row[2]}")

conn.close()

ID | Departure Time (Int) | Departure Time (Formatted)
--------------------------------------------------
101 | 13                   | 00:13
102 | 1337                 | 13:37
103 | 1425                 | 14:25
104 | 1235                 | 12:35
105 | 2309                 | 23:09
106 | 841                  | 08:41
107 | 1238                 | 12:38
108 | 632                  | 06:32
109 | 2333                 | 23:33
110 | 453                  | 04:53
111 | 313                  | 03:13
112 | 700                  | 07:00
113 | 236                  | 02:36
114 | 2142                 | 21:42
115 | 1756                 | 17:56
116 | 1117                 | 11:17
117 | 121                  | 01:21
118 | 419                  | 04:19
119 | 139                  | 01:39
120 | 2159                 | 21:59
121 | 2112                 | 21:12
122 | 113                  | 01:13
123 | 516                  | 05:16
124 | 1517                 | 15:17
125 | 912                  | 09:12
126 | 1005                 | 10:05
127 | 745                  | 07:45
128 | 1609                 | 16:09
129 | 814                  | 08:14
130 | 310                  | 03:10
131 | 1418                 | 14:18
132 | 2040                 | 20:40
133 | 421                  | 04:21
134 | 1016                 | 10:16
135 | 2101                 | 21:01
136 | 7                    | 00:07
137 | 1159                 | 11:59
138 | 540                  | 05:40
139 | 726                  | 07:26
140 | 728                  | 07:28
141 | 921                  | 09:21
142 | 1610                 | 16:10
143 | 2147                 | 21:47
144 | 1706                 | 17:06
145 | 1054                 | 10:54
146 | 58                   | 00:58
147 | 2106                 | 21:06
148 | 1433                 | 14:33
149 | 2007                 | 20:07
150 | 244                  | 02:44

# Câu 4:

In [15]:
import sqlite3
import random
import pandas as pd
import numpy as np

# Kết nối SQLite trong bộ nhớ
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Tạo bảng
cursor.execute('''
CREATE TABLE data (
    id INTEGER PRIMARY KEY,
    value REAL
);
''')

# Thêm dữ liệu ngẫu nhiên
for i in range(150):
    value = round(random.uniform(0, 80), 2)
    cursor.execute('INSERT INTO data (id, value) VALUES (?, ?)', (i + 1, value))
conn.commit()

# Đọc dữ liệu vào DataFrame
df = pd.read_sql_query("SELECT * FROM data", conn)

# Tính median và MAD bằng pandas
median = df['value'].median()
mad = (df['value'] - median).abs().median()

# Tìm ngoại lệ
df['is_outlier'] = (df['value'] - median).abs() > 1.5 * mad

# Phân chia
outliers = df[df['is_outlier']]
non_outliers = df[~df['is_outlier']]

# Gộp lại để hiển thị
result = pd.merge(
    outliers[['id', 'value']].rename(columns={'value': 'Ngoại lệ'}),
    non_outliers[['id', 'value']].rename(columns={'value': 'Không phải ngoại lệ'}),
    left_index=True, right_index=True, how='outer'
)

# Hiển thị
pd.set_option('display.max_rows', None)
print(f"MAD = {mad}")
print(result)

conn.close()

MAD = 19.11
      id_x  Ngoại lệ   id_y  Không phải ngoại lệ
0      1.0     77.91    NaN                  NaN
1      2.0     79.64    NaN                  NaN
2      3.0     69.27    NaN                  NaN
3      NaN       NaN    4.0                55.86
4      NaN       NaN    5.0                22.74
5      6.0     68.48    NaN                  NaN
6      NaN       NaN    7.0                51.96
7      NaN       NaN    8.0                16.39
8      NaN       NaN    9.0                25.00
9     10.0     72.45    NaN                  NaN
10     NaN       NaN   11.0                10.57
11    12.0      7.45    NaN                  NaN
12    13.0      6.49    NaN                  NaN
13     NaN       NaN   14.0                38.39
14     NaN       NaN   15.0                28.58
15    16.0      8.31    NaN                  NaN
16    17.0     77.08    NaN                  NaN
17     NaN       NaN   18.0                61.80
18    19.0     76.33    NaN                  NaN
19     NaN       NaN   20.0                35.64
20    21.0      7.99    NaN                  NaN
21     NaN       NaN   22.0                62.03
22     NaN       NaN   23.0                21.50
23    24.0     79.25    NaN                  NaN
24     NaN       NaN   25.0                29.52
25    26.0      6.01    NaN                  NaN
26     NaN       NaN   27.0                10.00
27     NaN       NaN   28.0                48.40
28    29.0      0.98    NaN                  NaN
29     NaN       NaN   30.0                30.06
30     NaN       NaN   31.0                22.12
31     NaN       NaN   32.0                51.08
32     NaN       NaN   33.0                23.69
33     NaN       NaN   34.0                55.34
34    35.0     68.13    NaN                  NaN
35     NaN       NaN   36.0                56.75
36    37.0      2.31    NaN                  NaN
37     NaN       NaN   38.0                49.79
38     NaN       NaN   39.0                53.85
39     NaN       NaN   40.0                21.05
40     NaN       NaN   41.0                51.43
41    42.0      6.55    NaN                  NaN
42     NaN       NaN   43.0                21.43
43    44.0      0.80    NaN                  NaN
44    45.0      2.20    NaN                  NaN
45     NaN       NaN   46.0                34.10
46     NaN       NaN   47.0                34.79
47    48.0      4.85    NaN                  NaN
48     NaN       NaN   49.0                31.48
49    50.0      2.69    NaN                  NaN
50     NaN       NaN   51.0                12.95
51    52.0     68.19    NaN                  NaN
52     NaN       NaN   53.0                20.67
53    54.0      4.54    NaN                  NaN
54     NaN       NaN   55.0                60.37
55     NaN       NaN   56.0                30.75
56     NaN       NaN   57.0                30.08
57     NaN       NaN   58.0                58.01
58    59.0      7.68    NaN                  NaN
59    60.0     78.54    NaN                  NaN
60     NaN       NaN   61.0                38.62
61     NaN       NaN   62.0                40.68
62     NaN       NaN   63.0                12.47
63     NaN       NaN   64.0                38.17
64    65.0     79.81    NaN                  NaN
65     NaN       NaN   66.0                15.61
66     NaN       NaN   67.0                48.83
67    68.0     70.24    NaN                  NaN
68     NaN       NaN   69.0                60.26
69    70.0      2.49    NaN                  NaN
70     NaN       NaN   71.0                52.36
71    72.0      1.94    NaN                  NaN
72    73.0      5.60    NaN                  NaN
73     NaN       NaN   74.0                41.02
74     NaN       NaN   75.0                24.25
75     NaN       NaN   76.0                60.18
76     NaN       NaN   77.0                25.83
77     NaN       NaN   78.0                45.80
78     NaN       NaN   79.0                14.87
79     NaN       NaN   80.0                26.24
80     NaN       NaN   81.0                41.26
81    82.0     76.61    NaN                  NaN
82     NaN       NaN   83.0                32.64
83    84.0     70.43    NaN                  NaN
84    85.0     71.02    NaN                  NaN
85    86.0     75.81    NaN                  NaN
86     NaN       NaN   87.0                40.41
87     NaN       NaN   88.0                19.79
88     NaN       NaN   89.0                20.68
89    90.0     77.64    NaN                  NaN
90     NaN       NaN   91.0                38.34
91     NaN       NaN   92.0                45.28
92     NaN       NaN   93.0                35.80
93     NaN       NaN   94.0                21.50
94    95.0     77.30    NaN                  NaN
95    96.0      0.74    NaN                  NaN
96     NaN       NaN   97.0                21.44
97     NaN       NaN   98.0                47.42
98     NaN       NaN   99.0                39.11
99     NaN       NaN  100.0                29.57
100    NaN       NaN  101.0                38.14
101  102.0     78.54    NaN                  NaN
102    NaN       NaN  103.0                44.32
103  104.0     75.40    NaN                  NaN
104  105.0      3.90    NaN                  NaN
105    NaN       NaN  106.0                30.41
106    NaN       NaN  107.0                39.47
107    NaN       NaN  108.0                20.78
108    NaN       NaN  109.0                58.41
109    NaN       NaN  110.0                23.08
110  111.0     69.52    NaN                  NaN
111    NaN       NaN  112.0                43.63
112    NaN       NaN  113.0                64.57
113  114.0     79.47    NaN                  NaN
114    NaN       NaN  115.0                51.91
115  116.0     76.67    NaN                  NaN
116    NaN       NaN  117.0                28.85
117    NaN       NaN  118.0                10.18
118  119.0      3.40    NaN                  NaN
119    NaN       NaN  120.0                13.17
120  121.0     67.37    NaN                  NaN
121  122.0     75.89    NaN                  NaN
122    NaN       NaN  123.0                54.99
123  124.0     69.23    NaN                  NaN
124    NaN       NaN  125.0                56.67
125    NaN       NaN  126.0                41.49
126    NaN       NaN  127.0                18.59
127    NaN       NaN  128.0                51.62
128    NaN       NaN  129.0                48.16
129    NaN       NaN  130.0                35.32
130    NaN       NaN  131.0                35.12
131    NaN       NaN  132.0                58.82
132    NaN       NaN  133.0                35.42
133    NaN       NaN  134.0                47.63
134  135.0      7.13    NaN                  NaN
135  136.0     75.37    NaN                  NaN
136    NaN       NaN  137.0                65.98
137    NaN       NaN  138.0                11.99
138    NaN       NaN  139.0                37.84
139    NaN       NaN  140.0                40.12
140    NaN       NaN  141.0                13.57
141  142.0     76.13    NaN                  NaN
142    NaN       NaN  143.0                38.46
143    NaN       NaN  144.0                17.01
144    NaN       NaN  145.0                34.39
145    NaN       NaN  146.0                28.10
146    NaN       NaN  147.0                46.97
147    NaN       NaN  148.0                34.19
148  149.0     75.18    NaN                  NaN
149    NaN       NaN  150.0                59.40

# Câu 5:

In [16]:
import sqlite3

# Tạo kết nối
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Tạo bảng Patient
cursor.execute('''
CREATE TABLE Patient (
    id INTEGER PRIMARY KEY,
    last_name TEXT,
    weight REAL,
    height REAL
);
''')

# Thêm dữ liệu mẫu
data = [
    ('Nguyen', 60.0, 165),
    ('Nguyen', 61.5, 164),
    ('Tran', 75.0, 170),
    ('Le', 49.0, 160),
    ('Le', 70.0, 180)
]
cursor.executemany('INSERT INTO Patient (last_name, weight, height) VALUES (?, ?, ?)', data)

# Tìm các cặp người có thể là cùng một người dựa trên Boolean:
# - last_name giống nhau
# - |weight1 - weight2| <= 2
cursor.execute('''
SELECT 
    p1.id AS id1, p2.id AS id2,
    p1.last_name, p1.weight, p2.weight,
    ABS(p1.weight - p2.weight) AS weight_diff
FROM 
    Patient p1
JOIN 
    Patient p2 
ON 
    p1.id < p2.id
WHERE 
    p1.last_name = p2.last_name
    AND ABS(p1.weight - p2.weight) <= 2;
''')

rows = cursor.fetchall()

# In kết quả
print("Các cặp bệnh nhân có thể là cùng một người (dựa trên last_name và weight gần giống):")
for row in rows:
    print(f"ID {row[0]} & ID {row[1]} | Họ: {row[2]} | Cân nặng: {row[3]} - {row[4]} | Chênh lệch: {row[5]} kg")

conn.close()

Các cặp bệnh nhân có thể là cùng một người (dựa trên last_name và weight gần giống):
ID 1 & ID 2 | Họ: Nguyen | Cân nặng: 60.0 - 61.5 | Chênh lệch: 1.5 kg